/* Reset some default browser styles */
body, h1, h2, p, ul, li, label, input, textarea, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(246, 246, 246, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(62, 119, 177, 0.9);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

nav {
    background-color: rgba(78, 147, 202, 0.9);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    flex: 2;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
}

h1, h2 {
    color: rgba(0, 0, 0, 0.9);
}

ul, label {
    color: rgba(0, 0, 0, 0.7);
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 5px;
}

.profile-info ul li a {
    text-decoration: none;
    color: #3e77b1;
}
